<!-- Design -->
<footer id="footer">

	<p class="copyright">
		<a href="https://www.instagram.com/lucianaangeloni_nodi_di_lu/"><span title="Follow Carbide on Instagram" class="fab fa-instagram fa-lg" style="color: #fff;" aria-hidden="true"></span><span class="sr-only">Follow Carbide on Instagram</span></a>
		<a href="https://www.facebook.com/NODIDILU/"><span title="Like Carbide on Facebook" class="fab fa-facebook-square fa-lg" style="color: #fff;" aria-hidden="true"></span><span class="sr-only">Like Carbide on Facebook</span></a>
    </p>


	<p class="copyright">
		Design: <a href="https://github.com/s-gregorini003">silvio gregorini</a>
	</p>

  
</footer>